@import '../../vendor/colorsSettings';
@import '../../vendor/fontsSettings';

@mixin font-settings($fontSize, $lineHeight) {
  font-size: $fontSize;
  line-height: $lineHeight;
}

.tech {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.tech__textContainer {
  display: flex;
  flex-direction: column;
  gap: 11px;
  max-width: 470px;
  padding-left: 158.5px;

  @media screen and (max-width: 1200px) {
    padding-left: 100px;
  }

  @media screen and (max-width: 1070px) {
    max-width: 458px;
    padding-left: 0;
    align-items: center;
    gap: 16px;
  }

  @media screen and (max-width: 570px) {
    gap: 9px;
  }
}

.tech__container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding-top: 26px;


  @media screen and (max-width: 1070px) {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 60px;
  }

  @media screen and (max-width: 570px) {
    padding-top: 32px;
  }
}

.tech__subtitle {
  @include font-settings(16px, 19px);
  font-family: $font-family-BarlowCondensed;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2.7px;
  color: $white-100;
  text-transform: uppercase;
  padding-top: 111px;

  @media screen and (max-width: 1070px) {
    padding-top: 145px;
  }

  @media screen and (max-width: 570px) {
    @include font-settings(14px, 17px);
    letter-spacing: 2.3625px;
    padding-top: 85px;
  }
}

.tech__nameTitle {
  @include font-settings(56px, 64px);
  font-family: $font-family-Bellefair;
  font-weight: 400;
  font-style: normal;
  color: $white;
  text-transform: uppercase;

  @media screen and (max-width: 1070px) {
    @include font-settings(40px, 46px);
  }

  @media screen and (max-width: 570px) {
    @include font-settings(24px, 28px);
  }
}

.tech__paragraph {
  @include font-settings(18px, 32px);
  font-family: $font-family-Barlow;
  font-weight: 400;
  font-style: normal;
  color: $white-100;
  max-width: 444px;
  padding: 6px 0 85px 0;

  @media screen and (max-width: 1070px) {
    @include font-settings(16px, 28px);
    padding: 0 25px;
    text-align: center;
    height: 140px;
  }

  @media screen and (max-width: 570px) {
    @include font-settings(15px, 25px);
    padding: 7px 24px 0 24px;
    max-width: 327px;
    height: 175px;
  }
}

.tech__image {
  background-repeat: no-repeat;
  background-size: contain;

  &_type_portrait {
    width: 527px;
  }

  &_type_landscape {
    display: none;
  }

  @media screen and (max-width: 768px) {
    display: none;

    &_type_landscape {
      display: block;
      width: 100%;
      height: 100%;
      max-width: 768px;
      max-height: 310px;
      object-fit: cover;
    }
  }
}

